
html{
	background-color: white;
}
body{
	width: 98%;
	background-color: white;
	margin: auto;
	border: solid 1px gray; 
}

#nome{
}

#backimage{
	position: absolute;
	width:98%;
	margin-top: -20px;
	z-index: 0;
}
header{
	width: auto;
}

img.nome{
	height: 200px;
	margin: 20px;
	position: relative;
	left: 23%;
}
#logo{
	position: relative;
	left: 25%;
	height: 200px;
	width: 200px;
	border-radius: 300px;
	background-color: #0000ff;
	display: inline-table;
	margin: 20px;
}
.menubar{
width: auto;
height: 50px;
background-color: black;
border:dashed;
z-index: 3;
}
/*h1{
	font-size: 50px;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	display: inline-table;
}
*/

article{
	height: 580px; 
	background-color: white;
}
footer{
background-color: white;
}

#nome{
	margin: 5px;
	margin-bottom: 15px;
}
#email{
	background-color: white;

}
